table {
  width: 75%;
  border: 1px solid grey;
  border-collapse: collapse;
  /* font-style: oblique; */
  font-family: monospace;
  font-size: large;
  font-weight: bold;
}

table th{
  background-color: #08ac6c;
  color: white;
  text-align: left;
  height: 45px;
  padding-left: 10px;
}

table td{
  color: black;
  background-color: #e8e9eb;
  height: 45px;
  padding-left: 10px;
}

.th1{
  width: 180px;
}
.th2{
  width: 100px;
}
.th3{
  width: 15px;
}
.whitebg {
  background-color: white;
}
